.NavBar {
    width: 100vw;
    background-color: #333;
    padding: 0;

}

.logoImage {
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


.link {
    text-decoration: none;
}

.nav-links .navbar-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #FFFFFFFC;
    /* border: 0.1em solid white; */
    cursor: pointer;
    min-width: 100px;
    width: auto;
    padding: 0 20px;
    border-radius: 2px;
}

.nav-tag {
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block !important;
    width: inherit;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 100%;
    z-index: 1;
    transform: translate(-20px, 0);
}

.navbar-child:hover {
    background-color: #444242;
}
.dropdown-content .dropdown-link:hover {
    background-color: #ddd;
}

.dropdown-link {
    display: flex;
    justify-content: center;
    height: 50px;
    color: black;
    align-items: center;
    text-align: center;
}
