body {
    background-color: #fff5f5;
    font-family: sans-serif;
}

.floating-card {
    border-radius: 10px;
    color: black;
    border: 0.1em solid rgba(0, 0, 0, 0.062);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}

.floating-card:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .2),
        0 10px 10px -5px rgba(0, 0, 0, .2);
    z-index: 1;
}

